body{
    background-image: url('../assets/background.png');
}



nav {
    margin: auto;
    border-bottom: solid 3px;
    background-color: rgb(203, 238, 249);
    width: 100vw;
    margin-top: 0;
}

nav ul {
    display: flex;
    justify-content: center;




}

nav ul div {
    border: solid 3px;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 30;
    height: 45px;
    padding: 3px;
    list-style: none;
    margin-left: 25px;
    margin-right: 70px;

    text-align: center;
    width: 110px;
}

nav ul div:hover {
    background-color: aqua;
    cursor: pointer;
}

.content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 810px;
    margin: 0 auto;
    background-color: rgb(203, 238, 249);
    border-radius: 20px;

}

.content-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 810px;
    margin: 0 auto;
    background-color: rgb(203, 238, 249);
    border-radius: 20px;

}

header {
    border: solid 3px;
    width: 80%;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
}

.review {
    border: solid 3px;
    width: 80%;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
}

.info-hours {
    border: solid 3px;
    width: 50%;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
}

.info-location {
    border: solid 3px;
    width: 50%;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;

}

.review {
    border: solid 3px;
    width: 60%;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
}

.contact {
    border: solid 3px;
    width: 300px;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 50px;

}

.bev-container{
    border: solid 3px;
    width: 400px;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;

}

.berry{
    border: solid 3px;
    width: 50%;
    height: 40%;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;

}

.berry-img{
    width: 70%;
    height: 50%;
}



.side-container{
    border: solid 3px;
    width: 400px;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
}

.side{
    border: solid 3px;
    width: 50%;
    height: 40%;
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

}


.side-img{
    width: 70%;
    height: 50%;
}


footer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

footer div {
    margin-left:20px
}
footer div img {
    width: 90%;
    height: 90%;
}